/Question1/nbproject/private/
/Assignment-2-evening/Question1/nbproject/private/
/Assignment-2-evening/Question1/build/
/Assignment-2-evening/Question1/dist/
/Assignment-2-evening/BMICalculator/nbproject/private/
/Assignment-2-evening/BMICalculator/build/
/Assignment-2-evening/VotingEligibility/nbproject/private/
/Assignment-2-evening/VotingEligibility/build/
/Assignment-2-evening/EWallet/nbproject/private/
/Assignment-2-evening/EWallet/build/
/Assignment-2-evening/Shape/nbproject/private/
/Assignment-2-evening/Circle/nbproject/private/
/Assignment-2-evening/Patient/nbproject/private/
/Assignment-2-evening/Patient/build/
/Assignment-2-evening/Mainpatient/nbproject/private/
/Assignment-2-evening/DayOfWeek/nbproject/private/
/Assignment-2-evening/DayOfWeek/build/
/Assignment-2-evening/JTREE/nbproject/private/
/Assignment-2-evening/JTREE/build/
/Assignment-2-evening/filemenu/nbproject/private/
/Assignment-2-evening/filemenu/build/
/Assignment-2-evening/Rectangle/nbproject/private/
/Assignment-2-evening/Triangle/nbproject/private/
/Assignment-2-evening/Main/nbproject/private/
/Assignment-2-evening/Main/build/
/Assignment-2-evening/FeesCalculationSystem/nbproject/private/
/Assignment-2-evening/FeesCalculationSystem/build/
/Assignment-2-evening/Assignment1/nbproject/private/
/Assignment-2-evening/Assignment1/build/